@import "utils/variables",
        "layout/navigation",
        "layout/footer",
        "layout/header";

body {
  background-color: $main-color;
}

.container {
  box-sizing: border-box;
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 100%;
  margin-left: 20px;


  &::before,
  &::after {
    // z-index: 20;
    border: 10px solid transparent;
    box-sizing: border-box;
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    animation-timing-function: linear;
  }

  &::before {
    top: 0;
    left: 0;
    animation: border-before 1.5s normal;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  &::after {
    bottom: 0;
    right: 0;
    animation: border-after 1.5s normal;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
}

@keyframes border-before {
  0% {
    width: 0;
    height: 0;
    border-top-color: $secondary-color;
    border-right-color: transparent;
  }
  24% {
    border-right-color: transparent;
  }
  25% {
    height: 0;
    width: 100%;
    border-top-color: $secondary-color;
    border-right-color: $secondary-color;
  }
  50% {
    width: 100%;
    height: 100%;
    border-top-color: $secondary-color;
    border-right-color: $secondary-color;
  }

  100% {
    width: 100%;
    height: 100%;
    border-top-color: $secondary-color;
    border-right-color: $secondary-color;
  }
}

@keyframes border-after {
  0% {
    width: 0;
    height: 0;
    border-top-color: transparent;
    border-right-color: transparent;
  }

  49% {
    width: 0;
    height: 0;
    border-left-color: transparent;
    border-bottom-color: transparent;
  }
  50% {
    width: 0;
    height: 0;
    border-left-color: transparent;
    border-bottom-color: $secondary-color;
  }
  74.99% {
    border-left-color: transparent;
    border-bottom-color: $secondary-color;
  }
  75% {
    height: 0;
    width: 100%;
    border-left-color: $secondary-color;
    border-bottom-color: $secondary-color;
  }
  100% {
    width: 100%;
    height: 100%;
    border-left-color: $secondary-color;
    border-bottom-color: $secondary-color;
  }
}
